<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Serverless WebSocket Chat</title>
  <script src="https://unpkg.com/feather-icons"></script>

  <script>window.baseUrl = '%%%____URL____%%%'</script>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <style>
    html,
    body,
    main {
      height: 100%
    }

    body {
      font-size: .875rem;
    }

    .feather {
      width: 16px;
      height: 16px;
      vertical-align: text-bottom;
    }

    /*
 * Sidebar
 */

    .sidebar {
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }

    .sidebar-sticky {
      overflow-x: hidden;
      overflow-y: auto;
      /* Scrollable contents if viewport is shorter than content. */
    }

    .sidebar .nav-link {
      font-weight: 500;
      color: #333;
    }

    .sidebar .nav-link .feather {
      margin-right: 4px;
      color: #999;
    }

    .sidebar .nav-link.active {
      color: #007bff;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
      color: inherit;
    }

    .sidebar-heading {
      font-size: .75rem;
      text-transform: uppercase;
    }

    .online {
      color: #0f0
    }

    li.active {
      background: #fff;
      border-top: 1px solid #dee2e6;
      border-bottom: 1px solid #dee2e6;
    }

    #chat {
      overflow: auto;
    }

    /*
 * Navbar
 */

    .navbar-brand {
      padding-top: .75rem;
      padding-bottom: .75rem;
      font-size: 1rem;
      background-color: rgba(0, 0, 0, .25);
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }

    .navbar .form-control {
      padding: .75rem 1rem;
      border-width: 0;
      border-radius: 0;
    }

    .form-control-dark {
      color: #fff;
      background-color: rgba(255, 255, 255, .1);
      border-color: rgba(255, 255, 255, .1);
    }

    .form-control-dark:focus {
      border-color: transparent;
      box-shadow: 0 0 0 3px rgba(255, 25zd5, 255, .25);
    }
  </style>
</head>

<body>
  <div id="app" class="container-fluid h-100 d-flex flex-column flex-nowrap p-0">
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Serverless WebSocket Chat</a>
      <span class="ml-auto text-light">Welcome <a href="#"><strong>%%%___user___%%%</strong></a></span>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="flex-grow d-flex flex-row flex-nowrap" style="overflow: auto; flex: 1;">
      <nav class="col-md-2 col bg-light sidebar p-0">
        <div class="sidebar-sticky">
          <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span><i data-feather="circle" class="mr-1 online"></i>Online users</span>
          </h4>

          <ul class="nav flex-column" v-for="chat in userChats" v-bind:key="chat.id">
            <li class="nav-item" v-bind:class="{active: currentChat === chat}">
              <a class="nav-link" href="#" v-on:click.prevent="setCurrentChat(chat)">
                <span data-feather="coffee"></span>
                {{chat.name}}<span v-if="chat.unread > 0" class="ml-4 badge badge-danger">{{chat.unread}}</span>
              </a>
            </li>
          </ul>

          <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span><i data-feather="layers" class="mr-1"></i>Group Chat</span>
            <a class="d-flex align-items-center" href="#"> </a>
            <a href="#" v-on:click.prevent="addingGroup = !addingGroup"><span data-feather="plus-circle"></span></a>

          </h4>

          <form :hidden="!addingGroup" v-on:submit.prevent="addGroupChat(addingGroupName)">
            <input class="form-control mx-2" type="text" v-model="addingGroupName" placeholder="Type group name">
          </form>

          <ul class="nav flex-column mb-2" v-for="chat in groupChats" v-bind:key="chat.id">
            <li class="nav-item" v-bind:class="{active: currentChat === chat}">
              <a class="nav-link" href="#" v-on:click.prevent="setCurrentChat(chat)">
                <span data-feather="users"></span>
                {{chat.name}}<span v-if="chat.unread > 0" class="ml-4 badge badge-danger">{{chat.unread}}</span>
              </a>
            </li>
          </ul>

          <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span><i data-feather="layers" class="mr-1"></i>Public Chat</span>
          </h4>
          <ul class="nav flex-column mb-2" v-for="chat in publicChats" v-bind:key="chat.id">
            <li class="nav-item" v-bind:class="{active: currentChat === chat}">
              <a class="nav-link" href="#" v-on:click.prevent="setCurrentChat(chat)">
                <span data-feather="users"></span>
                {{chat.name}}<span v-if="chat.unread > 0" class="ml-4 badge badge-danger">{{chat.unread}}</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col d-flex flex-column flex-nowrap p-md-4 p-2">
        <div >
          <h1 v-if="currentChat!=null" class="h2">Chat with {{currentChat.name}}</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <button v-if="currentChat!=null && currentChat.type === 'group'" type="button" id="dropdownMenuButton"
              class="btn btn-sm btn-outline-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Invite
              <span data-feather="plus"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <template v-for="user in otherUsers" v-bind:key="user.id">
                <button class="dropdown-item"
                  v-on:click.prevent="addUserToGroup(currentChat, user.name)">{{user.name}}</button>
              </template>
            </div>
          </div>
        </div>

        <div id="chat" class="" style="flex:1">
          <template v-if="currentChat!=null">
            <div v-for="message in currentChat.messages" v-bind:key="message.id">
              <div class="col-md row" style="display: inline-block;">
                <div v-if="message.type ==='system'" class="font-italic text-info text-center font-weight-light"
                  role="alert">
                  {{message.text}}
                </div>
                <div v-if="message.type ==='error'"
                  class="text-uppercase font-bold text-error text-center font-weight-light" role="alert">
                  !{{message.code}}!!{{message.text}}
                </div>
                <div v-if="message.type == 'log'" class="text-muted text-center font-weight-light" role="alert">
                  {{message.text}}
                </div>
                <div v-if="message.type == 'alert'" class="font-italic text-warning text-center font-weight-light"
                  role="alert">
                  {{message.text}}
                  <hr />
                </div>

                <div v-if="message.type == 'self' || (!message.type && message.from == username)"
                  class="alert alert-success float-right" role="text">
                  {{message.text}}
                </div>

                <div v-if="!message.type && message.from != username" class="float-left" role="text">
                  <small class="text-muted font-weight-light">{{message.date}}</small><br />
                  <small class="text-muted font-weight-light">From <a href="#">{{message.from}}</a></small>
                  <p class="alert alert-primary text-break ">{{message.text}}</p>
                </div>
              </div>
            </div>
          </template>
        </div>
        <div>
            <br/>
            <form v-on:submit.prevent="sendNewMessage()">
              <div class="input-group">
                <input type="text" v-model="newMessage" class="form-control" placeholder="Send a message">
                <button type="submit" class="btn btn-outline-secondary col-2 col-md-1" :disabled="!newMessage"><i
                    data-feather="send"></i></button>
              </div>
            </form>
        </div>

      </main>
    </div>
  </div>
  <script>
    feather.replace()
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
  <script>
    const data = {
      websocket: null,
      username: '%%%___user___%%%', // todo: oauth
      newMessage: '',
      ready: true,
      searchMessage: '',
      addingGroupName: '',
      addingGroup: false,
      currentChat: null,
      chats: []
    };
    const app = new Vue({
      el: '#app',
      data: data,
      computed: {
        otherUsers: function () {
          return this.userChats;
        },
        userChats: function () {
          return this.chats.filter(i => i.type === 'user' && i.name !== this.username);
        },
        groupChats: function () {
          return this.chats.filter(i => i.type === 'group');
        },
        publicChats: function () {
          return this.chats.filter(i => i.type === 'public');
        }
      },
      methods: {
        setCurrentChat: function (chat) {
          chat.unread = 0;
          this.currentChat = chat;
          if (!chat.historyLoaded) {
            if (chat.type === 'user') {
              sendMessage(chat.name, null, null, 'loadHistory');
            }
            else if (chat.type === 'group') {
              sendMessage(null, chat.name, null, 'loadHistory');
            }
            else {
              // broadcast
              sendMessage(null, null, null, 'loadHistory');
            }
            chat.historyLoaded = true;
          }
        },
        sendNewMessage: function () {
          if (!this.currentChat || !this.newMessage) {
            console.error("Empty message");
          }
          if (this.currentChat.type === 'group') {
            sendMessage(null, this.currentChat.name, this.newMessage);
          } else if (this.currentChat.type === 'user') {
            this.currentChat.messages.push({ type: 'self', text: this.newMessage, date: new Date().toISOString() }); //replay the message 
            sendMessage(this.currentChat.name, null, this.newMessage);
          } else if (this.currentChat.type === 'public') {
            sendMessage(null, null, this.newMessage);
          }
          this.newMessage = '';
        },
        addChat: function (chatType, chatName) {
          if (chatName && ['public', 'group', 'user'].includes(chatType)) {
            var chat = { type: chatType, name: chatName, messages: [], unread: 0, historyLoaded: false };
            addItem(chat, data.chats);
            return chat;
          } else {
            console.error("Invalid input: chat type: " + chatType + " chat name: " + chatName);
            return null;
          }
        },
        addGroupChat: function (group) {
          var chat = this.addChat('group', group);
          if (chat) {
            this.currentChat = chat;
            this.addingGroupName = '';
            this.addingGroup = false;
            addGroup(null, null, group);
          }
        },
        addUserToGroup: function (chat, user) {
          addItem({ type: 'system', text: 'Client: adding ' + user + ' to ' + chat.name }, chat.messages);
          sendMessage(user, chat.name, null, 'add');
        },
        getChat: function (chatType, chatName) {
          if (['public', 'group', 'user'].includes(chatType)) {
            var chat = this.chats.filter(i => i.type === chatType).find(s => s.name === chatName);
            return chat;
          }

          return null;
        },
        removeChat: function (chatType, chatName) {
          const index = this.chats.find(i => i.type === chatType && i.name === chatName);
          if (index > -1) {
            this.$delete(this.chats, index);
          }
        },
        getOrAddChat: function (chatType, chatName) {
          if (['public', 'group', 'user'].includes(chatType)) {
            var chat = this.chats.filter(i => i.type === chatType).find(s => s.name === chatName);
            if (chat) {
              // update
              return chat;
            } else {
              // add
              return this.addChat(chatType, chatName);
            }
          } else {
            console.error("Unknown chat type: " + chatType);
          }
        }
      }
    });

    function sendMessage(recipient, group, messageText, action) {
      data.websocket.send(JSON.stringify({
        recipient: recipient,
        group: group,
        text: messageText,
        action: action
      }));
    }
    function addGroup(recipient, connectionId, group) {
      data.websocket.send(JSON.stringify({
        action: "add",
        connectionId: connectionId,
        recipient: recipient,
        group: group
      }));
    }
    function removeGroup(recipient, connectionId, group) {
      data.websocket.send(JSON.stringify({
        action: "remove",
        connectionId: connectionId,
        recipient: recipient,
        group: group
      }));
    }

    let counter = 0;
    function addItem(item, owner) {
      item.id = counter++; // vue transitions need an id
      owner.push(item);
    }

    function newMessage(message) {
      var chat = app.getOrAddChat(message.chatType || 'public', message.chatName || 'System');
      if (chat !== app.currentChat) {
        // add unread mark
        if (!message.type) {
          // no type specified, this is a real message
          chat.unread++;
        }
      } else {
        chat.unread = 0;
      }
      addItem(message, chat.messages);

      // todo: not that work because the dom is rendered later, use binding?
      var elem = document.getElementById('chat');
      if (elem) {
        elem.scrollTop = elem.scrollHeight;
      }
    };

    function showMessage(message) {
      if (!message) {
        return;
      }
      if (message.type === 'sync') {
        if (message.event === 'removeUser') {
          var chat = app.removeChat('user', message.user);
        } else if (message.event === 'addUser') {
          app.getOrAddChat('user', message.user);
        }
      } else if (message.type === 'connected') {
        message.users.forEach(element => {
          app.getOrAddChat('user', element);
        });
        message.groups.forEach(element => {
          app.getOrAddChat('group', element)
        })
        newMessage({ text: 'User ' + message.user + '(' + message.connection + ') logged in', type: 'log' });
      }
      else if (message.group) {
        // group send
        message.chatType = 'group';
        message.chatName = message.group;
      } else if (message.to) {
        // user send
        message.chatType = 'user';
        message.chatName = message.from;
      }

      newMessage(message);
    }

    function getAxiosConfig() {
      const config = {
        headers: { 'x-ms-signalr-userid': data.username },
      };
      return config;
    }

    function negotiate() {
      return axios.post((window.baseUrl || '') + `/api/negotiate?name=${data.username}`, null, getAxiosConfig())
        .then(resp => resp.data);
    }

    newMessage({ text: "Connecting...", type: 'system' });

    data.currentChat = data.chats[0];

    negotiate().then(info => {
      var url = info.url;

      data.ready = true;

      var websocket = data.websocket = new WebSocket(url, ['protocol1', 'protocol2']);
      websocket.onopen = e => {
        console.log(websocket.protocol);
        newMessage({ text: "Connect dectected from client", type: 'system' });
      }
      websocket.onclose = e => {
        newMessage({ text: "Disconnect detected from client", type: 'system' });
      }
      websocket.onerror = e => {
        newMessage({ text: "Error detected from client " + e.data, type: 'system' });
      }

      websocket.onmessage = e => {
        if (!e.data) {
          return;
        }
        var message = JSON.parse(e.data);
        if (Array.isArray(message)) {
          message.forEach(element => {
            showMessage(element);
          });
        } else {
          showMessage(message)
        }
      }
    }).catch(alert);
  </script>
</body>

</html>